.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav {
    background-color: #1B1464;
    overflow: hidden;
    height: 75px;
    width: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    align-items: center;
    border-style: outset;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: Right;
    color: #000000;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFD041;
    color: black;
	border-radius: 7px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#151965;
    color: white;
    border-radius: 40px;
    margin-top: 10px;
    line-height: 5px;
    padding: 25px;  
  }
  
  /* logo*/
.logo input{
      width: 5%;
      height: 95%; 
      position: absolute;   
  }
  
/*profile pic*/  
.prof{
    width: 45px;
    height: 45px;
	left: 734px;
	margin-top: -6px;
    border-radius: 21px;
}
