.flex-container {
  margin-left: 1%;
  width: 97%;
  display: flex;
  height: 525px;
  flex-direction: row;
  background-color: white;
  margin-top: 7%;
  border:hidden;
}

/*profile detail box*/
.flex-container> .left{
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  width: 35%;
  height: 89%;
  line-height: 5px;
  border: none;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.left> .pic{
   margin-top: 7%;
  margin-left: 33%;
  background-color: white;
  width: 150px;
  height: 150px;
}

.pic img{
	width: 100%;
	height:100%;
}

.left h2{
    margin-top: 5%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.left p{
	margin-top: 5%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.right hr{
	width: 96%;
	border: 1px solid black;
	margin-top: 3px;
}

/*chat main box*/
.flex-container> .right{
  margin-top: 2%;
  margin-left: 4%;
  background-color: white;
  width: 58%;
  height: 89%;
  line-height: 5px;
  border:none;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*worker last seen*/
.right> .topbox{
  margin-top: -1%;
  margin-left: 0%;
  background-color: white;
  width: 97%;
  height: 95px;
  line-height: 5px;
  border:none;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 6px;
  padding-bottom: 10px;
}

/*chatting part*/
.right> .centerbox{
  margin-top: 2%;
  margin-left: 0%;
  background-color: white;
  width: 98%;
  height: 230px;
  line-height: 5px;
  border:none;
  padding-top: 5px;
  padding-bottom: 8px;
  overflow-y: auto;
}

.centerbox p{
   margin-top: 10%;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}

/*message send part*/
.right> .bottombox{
  margin-top: 2%;
  margin-left: 0%;
  background-color: white;
  width: 97%;
  height: 78px;
  line-height: 5px;
  border:none;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
}

/*image pic */
.bottombox> .image{
	margin-left: 28px;
	margin-top: 16px;
	height: 34px;
	width: 40px;
	background-color: white;
}

.image img{
	width:100%;
	height:100%;
}

/*chat bar with send icon*/
.bottombox> .chatbox{
  margin-left: 10%;
  margin-top: -6%;
  background-color: white;
  width: 81%;
  height: 40px;
   border:none;
}

/*chat bar*/
.chatbox> .chat{
	width: 89%;
	height: 94%;
	margin-left: 4%;
	margin-top: 3px;
	font-size: 17px;
}

.chat input{
	width: 100%;
	height: 100%;
	border: none;
	border-radius:50px;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*send icon*/
.chatbox> .send{
	margin-left:96%;
	margin-top: -6%;
	height: 35px;
	width: 35px;
}

.send img{
   width: 100%;
   height: 100%;
}