header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin: 2rem auto 0;*/
  max-width: 1440px;
  padding: 0 24px;
}

header div {
  display: none;
}

nav a {
  text-decoration: none;
  font-family: rubik, sans-serif;
  color: black;
  transition: 0.2s ease;
  font-size: medium;
}
nav a:hover {
  color: hsl(45, 100%, 63%);
}

nav a + a {
  margin-left: 1rem;
}

.login {
  color: hsl(45, 100%, 63%);
  display: inline-block;
  margin-left: 2rem;
  border-width: 1px;
  border-radius: 5px;
  border: hsl(45, 100%, 63%) solid;
  padding: 0.5rem 2rem;
}

.login:hover {
  transform: scale(1.1);
}

.button {
  display: none;
}

@media (max-width: 750px) {
  nav {
    display: flex;
    position: absolute;
    background: hsla(229, 31%, 21%, 95%);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    transition: 0.3s ease opacity, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 90px 24px 0px;
  }
  nav a:nth-of-type(3) {
    border-bottom: 1px rgba(255, 255, 255, 0.205) solid;
  }
  nav a {
    padding: 1rem 0;
    color: white;
    border-top: 1px rgba(255, 255, 255, 0.205) solid;
    display: block !important;
    width: 100%;
    font-size: 1.25rem;
  }
  nav a:hover {
    color: white;
  }
  .logo {
    z-index: 10;
  }

  nav a + a {
    margin-left: 0;
  }

  header div {
    display: block;
  }

  .login {
    margin-left: 0;
    margin-top: 1rem;
    color: white;
    border-radius: 4px;
    border: 2px #fff solid;
    padding: 0.7rem 2rem;
  }

  .login:hover {
    background: white !important;
    color: black !important;
    transform: scale(1);
  }

  .button {
    display: block !important;
    border: none;
    background: transparent;
    z-index: 10;
    position: relative;
  }

  .button span {
    width: 24px;
    height: 3px;
    background-color: #9e9aa8;
    display: block;
    margin: auto;
    transition: ease opacity 0.3s, ease transform 0.3s;
  }
  .button span + span {
    margin-top: 5px;
  }

  .logo path {
    transition: ease 0.3s fill;
  }
  .logo.active path {
    fill: #fff;
  }

  nav.active {
    opacity: 1;
    visibility: visible;
  }
  .button.active span {
    background: white;
  }
  .button.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .button.active span:nth-child(2) {
    opacity: 0;
  }
  .button.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
