body{
    font-family: 'Poppins', sans-serif;
}

.mainbox1, .box2{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 90px;
    align-items: center;

}

.mainbox1{
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*---------------------Right-Outer-box- details----------------------------------------*/
.box2{
    float:right;
    width: 60%;
    margin-right:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 760px;
    margin-top: 90px;


}
.box3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
    width: 850px;
   margin-left: 40px;
    margin-top: 20px;

}
#userimg{
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 100px;
}
/*company logo*/
#comimg{
    margin-top: 20px;
}
h4{
    margin-left: 80px;
    color: mediumblue;
    font-family: 'Poppins', sans-serif;
}
/*ratings*/
.checked {
    color: orange;

}
.star{
    margin-left: 100px;

    width: 200px;
}
/*customer box3*/
.box3left{

   margin-top: 60px;
    margin-left: 100px;
    height: 250px;
    width: 400px;
   float: left;

}
.box3right{

    margin-top: 50px;
    margin-left: 500px;
    height: 400px;
    width: 250px;

}
/*details box of worker*/

.workername{
    font-size: 17px;
    font-weight: bold;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.locationimage{
    /*border: solid black;*/
    width: 40px;
    margin-top: 40px;
}
.locaname{
   /* border: solid green;*/
    margin-top: -30px;
    margin-left: 70px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
/*bag of image*/
.job{

   margin-top: 40px;
    height: 60px;
    width: 60px;
}
.desjob{
    font-size: 17px;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
}
.phonebut {
    background-color:rgba(46, 171, 43, 1); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 50px;
}
.box4{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
    width: 850px;
    margin-left: 40px;
    margin-top: 20px;
}
/*company tab*/
#comimg{
    margin-left: 40px;
    margin-top: 40px;
    
}
.comdetail{
    margin-left: 400px;
    margin-top: -180px;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    width: 300px;
    font-size: 25px;
}
.des{
    padding-top: 10px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
   
}

/*tablinks*/
.tablinks{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color:gray ;
    color:white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#151965;
    color:white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
/*-------------------------------Vertical menu--------------------------------*/

/*Top -head - All category*/
.box1 {
    position: fixed;
    background-color:black ;
    color: white;
    width: 350px;
    height: 50px;
    margin-top:-3.5%;
    margin-left: 0%;
}

.box1-heading{
    text-align: center;
    font-size: 18px;
    
}

/*Entire menu*/
.vertical-menu {
    width: 350px;
    height: 500px;
    overflow-y: auto;
    margin-top:7%;
    margin-left: 55px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    position: fixed;
   
}

/*Categories-one by one*/
.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
    box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.2);
}

/*hiver color-when clicking*/
.vertical-menu a:hover {
    background-color:#fbc531 ;
}

/*previous */
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
    margin-top:15px;
}
