body{
  font-family: 'Poppins', sans-serif;
}


.box1{
   /* border: 1px solid red;*/
    height: 600px;
    margin-top: 0px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    background-color:white;
    padding: 6px;
    color:#151965;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center; 
  }
  .grid-item:hover{
      background-color:#FFD044;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  }

  #img{
     height: 70px;
      width: 70px;
     }

     
  #img2{
    max-height: 100%;
    max-width:100%;
    padding:10px 15px;
  } 

  .grid-item2  {
    background-color: rgba(255, 255, 255, 0.8);
    padding: -25px;
    font-size: 20px;
    text-align: center; 
  }

  .grid-item2:hover{
    background-color:#FFD044;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  }


 .category{
     text-decoration: none;
 }

 /*-------category name --------------*/
 h4{
     text-decoration: none;
     color:#082690;
 }
 a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  h2{
      /*text-shadow: 2px 2px 5px blue;*/
      text-align: center;
      font-size: 55px;
      color:#082690;
  }
  .headingcategory{
      margin-top: 100px;
  }