@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.box1{
   /* border: 1px solid red;*/
    height: 600px;
    margin-top: 0px;
    
}
/*.imageboxes{
   /* border: 1px solid  blue;

}
*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    background-color:white;
    padding: 6px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   /* border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    font-size: 30px;
    text-align: center;
    
  }
  .grid-item:hover{
      background-color:#7ed6df;
  }

  #img{
     height: 70px;
      width: 70px;
     }

 .category{
     text-decoration: none;
 }
 h4{
    font-family: 'Poppins', sans-serif;
     text-decoration: none;
 }
 a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  h2{
    text-shadow: 2px 2px 5px #7d5fff;
      text-align: center;
      font-size: 55px;
      font-family: 'Poppins', sans-serif;
  }
  .headingcategory{
    /*  border: 1px solid red;*/
      margin-top: 100px;
  }