body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box1, .box2{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 15%;
    align-items: center;

}

.box1{
    height: 25%;
}


/*---------------------Right-Outer-box- Report----------------------------------------*/
.box2{
    float:right;
    width: 45%;
    margin-right:15%;
    height: 15%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white; /* White text */
    padding: 20px; /* Some padding */
}

/*---------topic -profile-----------*/
.txt{
  font-size: 40px;
  text-align: center;
  margin-top:-2%;
  color: white;
}



.userimg{
    max-height: 120px;
    margin: auto;
    display: flex;
    margin-top:2%;

}
.camera{
    margin-left: 410px;
    margin-top: -50px;

}
.formTitle{
    font-weight: 600;
    margin-top: 20px;
    color: #2F2D3B;
    text-align: center;
}


.inputLabel {
    font-size: 20px;
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 24px;
    font-weight: bold;
}

.inputDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.inputDiv input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    height: 45px;
    border: solid 1px #ccc;
    padding: 0 11px;
}

input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
}


/*-------update button------------*/
.update{
    margin-left:36%;
    margin-top: 5%;
    margin-bottom: 0%;
    background-color: #2EAB2B;
    color: white;
    cursor: pointer;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 34%;
    height:10%;
}

.update:hover{
    background-color: red;
}
input[type=file]{
    margin-left: 400px;
    font-size: 16px
}
input[type=email]{
    border: 2px solid white;
    border-radius: 0;
}

input[type=text]{
    border: 2px solid white;
    border-radius: 0;
}