.box1, .box2{
    float: left;
    width: 30%;
    height: 70%;
   
    margin-left: 3%;
    margin-top: 90px;
    align-items: center;

}

.box1{
    height: 700px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}
/*---------------------Right-Outer-box- Report----------------------------------------*/
.box2{
    float:right;
    width: 60%;
    margin-right:3%;
    /*border: 1px solid red;*/
    height: 700px;
    margin-top: 90px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*form*/
.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    font-family: 'Popins', sans-serif;
}
.cardStyle {
    width: 900px;
   
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
   
}
.userimg{
    max-height: 100px;
    margin: auto;
    display: flex;

}
.camera{
    margin-left: 410px;
    margin-top: -50px;

}
.formTitle{
    font-weight: 600;
    margin-top: 20px;
    color: #2F2D3B;
    text-align: center;
}
.inputLabel {
    font-size: 20px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
}
.inputDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.inputDiv input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;

    border: solid 1px #ccc;
    padding: 0 11px;
}
input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
}



.update{
    margin-left: 350px;
    margin-top: 50px;
    background-color: rgba(46, 171, 43, 1);
    color: white;
    cursor: pointer;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5%;
}
.update:hover{
    background-color: rgb(18, 156, 37);
}
input[type=file]{
    margin-left: 500px;
    font-size: 16px
}
/*-----------------------------------------------------------Side bar----------------------------------------------------------------------------*/

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  margin-top: 2%;
  left: 0;
  height: 70%;
  width: 260px;
  background: #ffffff;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: rgb(0, 0, 0);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background:#FFD041;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: rgb(12, 12, 12);
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #050505;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: rgb(250, 249, 249);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #493be2;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: rgb(245, 244, 244);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}


/*----------------home button------------*/
.home-section{
  position: relative;
  background: #f9fafc;
  /*height: 100vh;*/
  left: 260px;
  width: 0px;
  /*width: calc(100% - 260px);*/
  transition: all 0.5s ease;
}

/*home button space*/
.sidebar.close ~ .home-section{
  left: 78px;
  width: 0px;
  /*width: calc(100% - 78px);*/
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
