
/*-------------------------------Vertical menu--------------------------------*/

/*Top -head - All category*/
.box1 {
    position: fixed;
    background-color:black ;
    color: white;
    width: 250px;
    height: 50px;
    margin-top:-3.5%;
    margin-left: 0%;
}

.box1-heading{
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*Entire menu*/
.vertical-menu {
    width: 250px;
    height: 250px;
    overflow-y: auto;
    margin-top:25%;
    margin-left: 35px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

/*Categories-one by one*/
.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
    box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.2);
}

/*hiver color-when clicking*/
.vertical-menu a:hover {
    background-color:#fbc531 ;
}


