.flex-container {
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0%;
  width: 100%;
  display: flex;
  height: 550px;
  flex-direction: row;
  background-color: white;
  margin-top: 5%;
  border:hidden;
}

/*profile detail box*/
.flex-container> .left{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: black; /* White text */
  margin-top: 2%;
  margin-left: 1%;
  background-color: white;
  width: 35%;
  height: 88%;
  line-height: 5px;
  border: none;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.left> .pic{
   margin-top: 7%;
  margin-left: 33%;
  background-color: white;
  width: 150px;
  height: 150px;
}

.pic img, .icon img{
	width: 100%;
	height:100%;
}

.left h2{
    margin-top: 5%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.left> .icon{
  margin-top: 4%;
  margin-left: 33%;
  background-color: white;
  width: 150px;
  height: 150px;
}

/*vertical line*/
.flex-container> .vl {
  border-left: 1px solid black;
  height: 88%;
  margin-top: 2%;
  margin-left: 3%;
}

/*chat main box*/
.flex-container> .right{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: black; /* White text */
  margin-top: 2%;
  margin-left: 3%;
  background-color: white;
  width: 55%;
  height: 88%;
  line-height: 5px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*heading part*/
.right> .heading{
  margin-top: 0%;
  margin-left: 4%;
  background-color: white;
  width: 75%;
  height: 8%;
  line-height: 5px;
  padding-top: 16px;
}

.heading label, .heading input{
    font-size: 25px;
	color: #082690;
	font-weight: bold;
}

/*apply box*/
.right> .apply{
   margin-top: -2%;
  margin-left: 80%;
  background-color: white;
   width: 17%;
  height: 30%;
  line-height: 5px;
  border-radius: 7px;
  padding-top: 5px;
   border: none;
   box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*details of job for apply*/
.apply> .detail{
  margin-top: 5%;
  margin-left: 4%;
  background-color: grey;
  width: 89%;
  height: 63%;
  line-height: 5px;
}

/*apply button*/
.apply button{
	text-align: center;
	background-color: #2EAB2B;
	 margin-top: 3%;
    margin-left: 23%;
	border: none;
    color: black;
    padding: 9px 15px;
	font-size: 16px;
	 border-radius: 35px;
    transition: 0.3s;
}

.apply button:hover {
  background-color: #369C2E;
}

input{
	border: none;
	height: 25px;
}

/*category part*/
.right> .lb-1{
  margin-top: -15%;
  margin-left: 3%;
  background-color: white;
  width: 66%;
  height: 9%;
  line-height: 5px;
  padding-left: 10px;
}

.lb-1 label{
	padding-right: 40px;
}

/*short length line*/
.line1{
	width: 72%;
	align: left;
	margin-left: 3%;
}

/*long length line*/
.line2{
	width: 93%;
	align: left;
	margin-left: 3%;
}

/*date part*/
.right> .lb-2{
  margin-top: 0%;
  margin-left: 3%;
  background-color: white;
  width: 70%;
  height: 19%;
  line-height: 5px;
  padding-left: 10px;
  padding-top: 1px;
}

/*due date*/
.lb-2> .due{
   margin-top: 2%;
   margin-left: 0%;
   width: 35%;
   height: 90%;
   padding-top: 6px;
   background-color: white;
}

/*starting date*/
.lb-2> .start{
   margin-top: -16%;
   margin-left: 60%;
    width: 35%;
   height: 90%;
   padding-top: 6px;
   background-color: white;
}

/*description and number part*/
.right> .lb-3{
  margin-top: 0%;
  margin-left: 3%;
  background-color: white;
  width: 92%;
  height: 27%;
  line-height: 5px;
  padding-left: 10px;
  padding-top: 7px;
}

.dis input{
	width: 95%;
	height: 70px;
}

.number input{
    margin-top: -5px;
	width: 60%;
	height: 40px;
}

/*discription*/
.lb-3> .dis{
  margin-top: 0%;
  margin-left: -7px;
  background-color: white;
  width: 65%;
  height: 90%;
  line-height: 5px;
  padding-left: 10px;
  padding-top: 7px;
}

/*number*/
.lb-3> .number{
  margin-top: -15%;
  margin-left: 78%;
  background-color: white;
  width: 18%;
  height: 86%;
  line-height: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.number label{
   line-height: 1.0;
}

 /* Chrome, Safari, Edge, Opera */
.lb-3
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.lb-3 input[type=number] {
  -moz-appearance: textfield;
}


/*comment part*/
.right> .lb-4{
  margin-top: 1%;
  margin-left: 3%;
  background-color: white;
  width: 92%;
  height: 27%;
  line-height: 5px;
  padding-left: 10px;
  padding-top: 7px;
}

.lb-4 input{
	border-style: outset;
	border-radius: 50px;
	border: 1px solid black;
	margin-left: 8%;
	margin-top: 2%;
	width: 75%;
	height: 45px;
	padding-left: 15px;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }