
body{
  font-family: 'Poppins', sans-serif;
  background-image: url('../../Images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*left box*/
.box1{
    float: left;
    width: 35%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    margin-left: 2%;
    align-items: center;
    margin-top: 7%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white; /* White text */
    padding: 20px; /* Some padding */
}



/*Responses*/
.box2 {
    float: right;
    align-items: center;
    margin-top: 7%;
    margin-right:2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.4s;
    width: 55%;
    height: 100%;
     
  }
/*heading*/
  .box-heading{
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    color: #F63A10;
  }

 /*inner box*/
 .box3 {
    align-items: center;
    margin-top: -3%;
    margin-left:2%;
    border:#151965;
    border-style: solid;
    transition: 0.4s;
    width: 95%;
    height: 80%;
  }

  /*horizonatl line*/
  .hor{
    width :90%;
    border: 1px solid  #151965;
    margin-left:5%;
    margin-top:14%;
  }

  /*view profile button*/
  .button1, .button2, .button3{
      margin-top: -2%;
      margin-left: 28%;
	    position: absolute;
    	display: block;
    	padding: 15px 10px;
    	width: 7%;
    	text-align: center;
    	color: #fff !important;
    	text-decoration: none;
    	font-size: 17px;
    	overflow: hidden;
    	background-color: #151965; 
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
}

/*Approve*/
.button2
{
      margin-left: 38%;
    	background-color: #E95B5B;  
}

/*delete button*/
.button3
{
      margin-top: 42%;
      margin-left: 15%;
      border-radius: 100px;
    	width: 8%;
    	background-color: #2EAB2B;  
}
  

/*----title-----*/
.txt1{
  color:red;
  font-size: 2em;
  text-align: center;
  margin-top:1em;
}

/*-----bold section----*/
.txt2{
  margin-left: 3em;
  margin-top: 5em;
  font-size: 20px;
  color: white;
}

/*-----Extracting data from database----*/
.txt3{
  margin-left: 5em;
  margin-top: 6em;
  font-size: 17px;
  margin-right: 3em;
  color:white;
}

.txt4{
  margin-top:-4em;
  margin-left: 10em;
}


/*--------Propic---------*/
.profpic{
  height: 75px;
    width: 75px;
    margin-left: 0%;
    margin-top:-12% ;
}