

body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    background-image: url('../../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.red-s{
    color: red;
}

@media (orientation: landscape) {

    .main-box {
        /*position: relative;*/
    }

    #title-img {
        position: relative;
        text-align: center;
        color: white;
    }

    #title-img img{
        width:100%;
        height: 200px;
    }

    #title-head {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
    }


    .down-row {
        /*border: 3px solid #fff;*/
        padding: 20px;
        display: flex;
    }

    .col-full {
        width: 100%;
        float: left;
        padding: 20px;
        /*border: 2px solid red;*/
    }

    .col-left {
        width: 50%;
        float: left;
        padding: 20px;
        /*border: 2px solid red;*/
    }
    .col-left-30 {
        width: 30%;
        float: left;
        padding: 20px;
        /*border: 2px solid red;*/
    }

    .col-right {
        width: 50%;
        float: right;
        padding: 20px;
        /*border: 2px solid red;*/
    }
    .col-right-70 {
        width: 70%;
        float: right;
        padding: 20px;
        /*border: 2px solid red;*/
    }

    .separator-div{
        margin: 5px;
        /*width: 100%;*/
        height: 2px;
        /*background: red;*/
    }
}

@media (orientation: portrait) {
    #title-img > img {
        display: none;
    }
}
