
#scrollUpBtn {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 25px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: orange;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
#scrollUpBtn:hover {
	background-color: #1b6292;
}

main .featured {
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
main .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	padding-bottom: 10px;
}

main .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 24px;
}

.slideshow {display: none;}      
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(245, 146, 53);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* neww css */

/* fnv */

.title-all{
    margin-bottom: 30px;
}

.title-all h1,p{
    text-align: center;
}
.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #fdfdfd;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.products-box{
    padding: 70px 0px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
    align-content:center;
}
.filter-button-group button{
    background: #46989b;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #000000;
}

.row-special-list{
    display: flex;  
}

.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: #46989b;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.type-lb .new{
    background: #000000;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
	color: #000000;
}
.why-text h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    display: inline-block;
    background: #46989b;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.mask-icon ul li{
    background: #46989b;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #46989b;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #000000;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #000000;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
@keyframes bounceY {
    0% {
        transform: translateY(-205px);
   }
    40% {
        transform: translateY(-100px);
   }
    65% {
        transform: translateY(-52px);
   }
    82% {
        transform: translateY(-25px);
   }
    92% {
        transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
   }
}
@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
   }
    40% {
        -moz-transform: translateY(-100px);
   }
    65% {
        -moz-transform: translateY(-52px);
   }
    82% {
        -moz-transform: translateY(-25px);
   }
    92% {
        -moz-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
   }
}
@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
   }
    40% {
        -webkit-transform: translateY(-100px);
   }
    65% {
        -webkit-transform: translateY(-52px);
   }
    82% {
        -webkit-transform: translateY(-25px);
   }
    92% {
        -webkit-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
   }
}

.container{
    align-items: center;
}

.box-img-hover{
	width: 250px;
	
}
.products-single img{
	height: 300px;
}

.why-text{
	height: 70px;
}