

table{
    margin-top:6em;
    padding:15px 15px;
    align-items: center;
}

.title1, .title2{
    border: none;
    background: #ECEFFF;
    color: #0526BA;
    height: 1.5em;
    width: 12em;
    border-radius: 5px;
    font-family: "Rosarivo", sans-serif;
    font-size: 25px;
    padding: 10px 2px 2px 2px;
    margin-left: 5em;
}

.title2{
    background: #F9D3DA;
    color: #DC0404;
    width: 14em;
}


/*--------------------------------------*/
.reg-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 7em;
    margin-left: 1em;
}
    
.card-link {
    text-decoration: none;
}

.card1, .card2, .card3 {
    cursor: pointer;
    background-color:#91DC32;
    box-shadow: 4px 8px 16px lightgray;
    border-radius: 10px;
    width: 15vw;
    height: 45vh;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all ease-in-out 0.5s;
}

.card2{
    background-color:#F10B67;
}

.card3{
    background-color:orange;
}
    
.card:hover {
    box-shadow: 1px 2px 4px gray;
}

.reg-img{
    height: 100px;
    width: 100px;
    align-items: center;
}
 
.button{
    background-color:black;
    border: none;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    display: block;
    cursor: pointer;
    overflow: hidden;
    line-height: 15px;
    border-radius: 5px;
    margin-top: 2em;
    margin-left: 3.4em;
}


.button:hover{
    background-color:white;
    color: black;
}
