.flex-container {
  margin-left: 22%;
  width: 72%;
  display: flex;
  height: 500px;
  flex-direction: row;
  background-color: white;
  margin-top: -3%;
  border:none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*heading*/
.flex-container> .heading{
	text-align: center;
	margin-top: 0px;
	font-family: 'Poppins', sans-serif;
	margin-left: 40%;
}

/*show profile pic*/
.flex-container > .mainbox {
  margin-top: 10%;
  margin-left: -445px;
  background-color: #ffffff;
  width: 140px;
  height: 140px;
  line-height: 5px;
  border:none;
  padding: 7px;
  border-radius: 100px;
}

.mainbox input{
	width:100%;
	height: 100%;
	border-radius: 100px;
}

/*show chat option*/
.flex-container > .sms {
  margin-top: 28%;
  margin-left: -855px;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-style: hidden;
}

img{
	width:100%;
	height:100%;
}

/*form*/
.flex-container> .mainbox-side{
   margin-top: 6%;
  margin-left: 85px;
  background-color: #ffffff;
  width: 675px;
  height: 420px;
  line-height: 5px;
  border-style: hidden;
  padding: 40px 30px;
  border-radius: 75px;
  font-family: 'Poppins', sans-serif;
}

.mainbox-side input[type=text], .mainbox-side input[type=tel]{
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 10px;
  margin: 8px 0;
  display: block;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*button*/
.mainbox-side button {
  background-color: red;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin-top: 4%;
  margin-left: 75%;
  border-radius: 7px;
  transition: 0.3s;
}

.mainbox-side button:hover {
  background-color: #FFD041;;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }