body{
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.flex-container {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: black; /* White text */
  margin-left: 20%;
  width: 73%;
  display: flex;
  height: 490px;
  flex-direction: row;
  background-color: white;
  margin-top: -4%;
  border-radius: 5px;
}

.flex-container> .heading{
	text-align: center;
	margin-top: 0px;
	font-family: 'Poppins', sans-serif;
	margin-left: 23%;
}

/*show key pic*/
.flex-container > .mainbox {
  margin-top: 14%;
  margin-left: -470px;
  background-color: #ffffff;
  width: 170px;
  height:170px;
  border: none;
  padding: 18px;
  border-radius: 100px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
}

.mainbox img{
	width:100%;
	height:100%;
	border-radius: 100px;
}

/*.flex-container img {
  margin-top: 13%;
  margin-left: -470px;
  background-color: #ffffff;
  width: 100px;
  height:100px;
  border: none;
  padding: 60px;
  border-radius: 100px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}*/

/*form without image*/
.flex-container> .mainbox-side{
   margin-top: 8%;
  margin-left: 75px;
  background-color: #ffffff;
  width: 675px;
  height: 390px;
  line-height: 5px;
  border: none;
  padding: 45px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainbox-side input[type=text]{
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 10px;
  margin: 8px 0;
  display: block;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

/*button*/
.mainbox-side button {
  background-color: green;
  border: none;
  color: black;
  padding: 14px 18px;
  text-align: center;
  font-size: 16px;
  margin-top: 1%;
  width: 38%;
  margin-left: 61%;
  border-radius: 7px;
  transition: 0.3s;
}

.mainbox-side button:hover {
  background-color: #FFD041;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }