
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*------------------------heading1 - Profile-------------------------------*/
.heading1{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 5%;
}

 
/*-----------------Profile image in Profile page*-------------------*/
.floatRight{
    max-height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
}


/*------------------------------------------form-----------------------------------------------*
/*Space between two input fields*/
.info .group{
	margin-bottom:2%;
    margin-left: 40%;
}

/*input data*/
.info .group .input{
	
	color:black; /*change color of input data*/
	display:block;
}

/*input field box*/
.info .group .input{
	border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding:15px 15px;
    background:white;
    width:80%;
}


/*-----red star-----*/
.red{
    color:red;
}

/*-----------------names--------------------------------*/
.field{
    float:left;
    margin-left: -35%;
    margin-top: 2%;
    font-size: 20px;
    color:white;
}

.button4, .button5{
    font-size: 17px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
}


/*----------Save button--------------*/
.button4{
    float:left;
    margin-top:0%;
    margin-left:54%;
    padding: 15px 45px;
    background-color: #E95B5B;
    border: none;
}

/*------------Delete Account button-------------------*/
.button5{
    float:left;
    margin-top:-3.3%;
    margin-left:65%;
    padding: 15px 35px;
    background-color: #151965;
    border: none;
}


/*---------------------button hover color---------------------*/
.button4:hover,.button5:hover {
    background-color: blue;
  }

  
/*--------------------------camera icon----------------------*/
.cam{
    float: left;
    margin-top:-4.5%;
    margin-left: 55%;
    width: 60px;
    height: 60px;
}


/*------------------------edit icon--------------------------*/
.edit{
    float: right;
    margin-top:-4%;
    margin-right: 10%;
    width: 20px;
    height: 20px;
}

