

body{
    font-family: 'Poppins', sans-serif;
}

.heading1{
    font-size: 40px;
}

.box1, .box2{
    float: left;
    width: 20%;
    height: 50%;
    margin-left: 2%;
    align-items: center;
}

/*---------------------Right-Outer-box-Post your  Ads----------------------------------------*/
.box2{
    float:right;
    width: 70%;
    margin-right:6%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 85px;
}

/*-------------------------------------------------- Style the tab ---------------------------------------------------------------------*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* ------------------------------------------------Style the buttons inside the tab---------------------------------------------------- */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 0;
    height: 65px;
}

/*----------------------------------------------- Change background color of buttons on hover------------------------------------------ */
.tab button:hover {
    background-color: gray;
}

/* -------------------------------------------Create an active/current tablink class -----------------------------------------------*/
.tab button.active {
    background-color: #151965;
    color:white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.img{
    margin-top: 80px;
    padding-bottom: 20px;
    height: 100px;
    width: 100px;
     margin-left:100px ;
}
.postButton{
    background-color: rgba(46, 171, 43, 1); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:400px ;
    cursor: pointer;
    margin-top: 30px;
}
.anyads{
    margin-top: 20px;
    margin-left: 350px;
}
.post{
    margin-top: 20px;
    margin-left: 300px;
}



/*---------------------------------form----------------------------------------*/
.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: 'Poppins Sans', sans-serif;
}
.cardStyle {
    width: 80%;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.floatRight{
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.formTitle{
    font-weight: 600;
    margin-top: 20px;
    color: #2F2D3B;
    text-align: center;
    font-size: 25px;
}

.inputLabel {
    font-size: 17px;
    /*color: #555;*/
    margin-bottom: 6px;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;

}
.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    height: 7%;
}
.inputDiv input {
    height: 40px;
    font-size: 16px;
    border: solid 2px ;
    padding: 0 11px;
}


#lang{
    position:relative;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    width: 100%;
    height: 8%;
    padding:5px 5px;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: -1%;
    border: solid 2px;
    align-items: center;
    justify-content: center;
}

input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
}
.buttonWrapper {
    margin-top: 40px;
}
.submitButton {
    width: 18%;
    height: 45px;
    margin: auto;
    display: block;
    color: #fff;
    background-color:rgba(46, 171, 43, 1);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.submitButton:disabled,
button[disabled] {

    background-color: #cccccc;
    color: #666666;
}



/*-------------------------------------------------home button----------------------------------------*/
.home-section{
    position: relative;
    background: #f9fafc;
    /*height: 100vh;*/
    left: 260px;
    width: 0px;
    /*width: calc(100% - 260px);*/
    transition: all 0.5s ease;
}

/*home button space*/
.sidebar.close ~ .home-section{
    left: 78px;
    width: 0px;
    /*width: calc(100% - 78px);*/
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}
@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
        display: none;
    }
}



/*------------------------------------------Outer-box - adds------------------------------*/
.box3{
    float: left;
    width: 94%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 3%;
    margin-top:5%;
    margin-bottom: 2%;
    align-items: center;
}

/*---------------------------------------------------Title---------------------------------------------*/
.txt1{
    color:#082690;
    font-size: 25px;
    margin-left: 10%;
    margin-top:4%;
}


/*-------job----*/
.txt2{
    margin-left:10%;
    margin-top:4%;
}

/*-------------divide into unequal columns-------------*/
.column1{
    align-items: center;
}


/*bold name*/
.txt3{
    margin-left: 55%;
    margin-top: -18%;
}


/* details*/
.txt4{
    margin-left: 75%;
    margin-top: -16%;
    margin-bottom: 22%;
}

/*location icon*/
.location-red{
    height: 48px;
    width: 35px;
    margin-left: 58%;
    margin-top:-15% ;
}

/*box4--- phone number---*/
.box4{
    padding:15px 15px;
    width: 15%;
    height:5%;
    background-color: #2EAB2B;
    margin-left: 75%;
    margin-top: -18%;
    margin-bottom: 2%;
    
}

/*phone number*/
.txt5{
    color:white;
    text-align:center;
}

