
body{
    font-family: 'Poppins', sans-serif;
    /* background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
 

  .box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:90%;
    height:7%;
    margin-top: 15%;
    margin-left: 2%;
    text-align: center;
  }

  .txt1{
    color:#2EAB2B;
  }

  .txt2{
    color:#F63A10;
  }

  .txt5{
      margin-top: 5%;
      margin-left: 5%;
  }

  .image{
      height: 40px;
      width: 40px;
  }


.table-wrapper {
    margin-top: 2em;
    margin-left: 24em;
    margin-right: 10em;
    box-shadow: 0px 4px 8px 0px rgba( 0, 0, 0, 0.5);
    
}

.heading1{
    margin-left: 17%;
}

.dashboard{
    font-size: 20px;
    margin-left: 25%;
    /* margin-top: %; */
}

/* .box3, .box4, .box5{
    height: 15%;
    width: 20%;
    box-shadow: 0px 4px 8px 0px rgba( 0, 0, 0, 0.5);
}

.box3{
    background-color: #F04848;
    margin-left: 25%;
    margin-top:2%;
}

.box4{
    background-color: #91DC32;
    margin-left: 47%;
    margin-top: -7.5%;
}

.box5{
    background-color: #19B6FA;
    margin-left: 69%;
    margin-top: -7.5%;
} */

.fl-table {
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 17px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4B63E0;
    font-size: 20px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    /*background: #151965;*/
    background-color: #4B63E0;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 13px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 15px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

/* ..edited.. */

.tile-line{
    
    margin-left: 24em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tile-line .row1{
    display: flex;
    margin-bottom: 30px;
}

.tile-line .row2{
    display: flex;
}

.dash-card{
    background-color: rgb(241, 237, 237);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: rgb(17, 16, 16);
    width: 390px;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    float: left;
    transition: 0.3s;
    margin-right: 20px;
    /* margin-left: 30px; */
}

/* h1:hover{
    color: whitesmoke;
} */
#card1:hover{
    background-color: #F04848;
    color: whitesmoke;
}

#card2:hover{
    background-color:  #e4b20f;
    color: whitesmoke;
}

#card3:hover{
    background-color: #91DC32;
    color: whitesmoke;
}

#card4:hover{
    background-color: #bd266d;
    color: whitesmoke;
}

/* .dash-card:hover{
    background-color: #19B6FA;
    color: black;
} */

.dash-card h1{

    text-align: left;
    margin-top: 10px;
    padding-left: 30px;
    font-size: 30px;
    margin-bottom: 4px;
    transition: 0.3s;
    color: #464647;
}
.dash-card img{
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 50px;
}
.card-line{
    /* margin-top: 5%; */
    width: 80%;
    height: 210px;
    overflow: hidden;
}
  

@media screen and (max-width: 1920px) {
    .dash-card{
        width: 478px;
        height: 150px;
    }
}
