* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin-left: 75px;
  font-weight: bolder;
  font-size: 30px;
}

.label {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.bank-details {
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 400px;
  top: 100px;
}

.input-feild {
  display: flex;
  height: 75px;
  /* align-items: center; */
  margin-top: 10px;
  width: 600px;
}

.input input {
  width: 538px;
  height: 52px;
}

.update-button {
  left: 525px;
  background: #2eab2b;
  color: white;
  border: none;
  width: 200px;
  font-weight: bolder;
}
