body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*------------------------heading1 - Manager-------------------------------*/
.heading1{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 12%;
    margin-bottom: 5%;
}


/*----------------------Add New Manager Button-------------------------*/
.button1, .button4, .button5{
    float: left;
    padding: 18px 25px;
    background-color: #151965;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 0%;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.4);
    border: none;
}

/*--------------------------View Profile button----------------------*/
.button2{
    padding: 15px 40px;
    background-color:#2EAB2B ;
    margin-top: 10%;
    margin-left: -10%;
    border: none;
}

/*-------------------------------Remove button -----------------------------------*/
.button3{
    padding: 15px 38px;
    background-color:  #E95B5B;
    margin-top: 10%;
    margin-left: 10%;
    border: none;
}

/*----------Add--------------*/
.button4{
    float:left;
    margin-top:0%;
    margin-right:-12%;
    padding: 15px 45px;
    border: none;
    background-color:  #151965;
}

/*------------ Cancel-------------------*/
.button5{
    float:left;
    margin-top:-3.3%;
    margin-left:70%;
    padding: 15px 35px;
    border: none;
    background-color: #E95B5B ;
}
/*--------------------Outer box Manager ------------------------------*/
.box1{
    position: relative;
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.4);
    width:65%;
    height: 55%; 
    background-color: white;
    /* background: rgb(0, 0, 0); /* Fallback color */
    /*background: rgba(139, 100, 100, 0.3); Black background with 0.5 opacity */
    color: white; /* White text */
    padding: 20px; /* Some padding */
}

/*------------------------------Profile image---------------------------*/
.profimg{
    float: left;
    margin-top:-10%;
    margin-left: 30%;
    border-radius: 100px;
}

/*------------------------------------------form-----------------------------------------------*
/*Space between two input fields*/
.info .group{
    margin-top: 1em;
    margin-bottom:2%;
    margin-left: 45%;
}

/*input data*/
.info .group .label,
.info .group .input{
	
	color:black; /*change color of input data*/
	display:block;
}

/*input field box*/
.info .group .input{
	border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding:15px 15px;
    background:white;
    width:80%;
}

/*-----------------names--------------------------------*/
.field{
    float:left;
    margin-left: -28%;
    margin-top: 2%;
    font-size: 17px;
}

/* 
.detail{
    font-size: 22px;
    margin-top:12%;
    margin-left:5%;
} */





