/* Split the screen in half */
.split {
    height: 80%;
    width: 40%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left1 {
    left: 10%;
    top:15%;
  }
  
  /* Control the right side */
  .right1 {
    left: 60%;
    top:15%;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    text-align: center;
  }

  /* Split the screen into two - feedback section */
.splt {
  height: 100%;
  width: 80%;
  z-index: 1;
  top: 40%;
  overflow-x: hidden;
  padding-top: 20px;
}

/*controll the left side of the feedback*/
.left2{
  margin-left:2%;
}

/*controll the right side of the feedback*/
.right2{
  margin-left:-2%;
  margin-top: -30%;
}

  /*Profile image in Profile page*/
.profile{
    max-height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

   /*Profile image in feedback section*/
.prof{
  
  margin-left: -80%;
  margin-top: 2%;
  max-height: 50px;
}

  /*job Image*/
  .job{
      max-height: 35px;
  }

/*text*/
  body{
    font-family: 'Poppins', sans-serif;
  }


/*--------no of ratings----------*/
.no{
  margin-top: -5%;
  margin-left: 35%;
}

  /*--Last active text*/
  .t1{
      color: #082690; 
  }


  /*----Work detals------*/
  .t2{
    margin-left: -65%;
    color: #082690; 
  }

  /*--feedbacks and ratings---*/
  .t3{
    margin-left: -45%;
    color: #082690; 
  }

  /*--feedbacks and rating content---*/
  .t4{
    margin-left: 15%; 
    margin-top: 2%;
  }

  /*--feedbacks and rating content---*/
  .t8{
    margin-left: 22%; 
    margin-top: 2%;
  }

  /*-- Worker name---*/
  .t5{
    margin-top:30%;
    margin-left: -65%;
  }

  /*-----details*/
  .t6{
    margin-top:-10%;
    margin-left: 10%;
    width: 100%;
  }

  /*--------Give your feedbacks and Ratings-----------*/
  .t7{
    margin-left: -55%;
    color: #082690;
  }



/*---------Stars------*/
.star{
  margin-left:30%;
  margin-top: 2%;
}

.star1{
  margin-left:-20%;
  margin-top: 6%;
}
.star2{
  margin-left:70%;
  margin-top: 10%;
}


/*--------Checked-Ratings-----------*/
  .checked {
    color: orange;
  }

  /*-------box1------------*/
  .box1{
      border: 1px solid gray;
      height:200px;
      width:400px;
      margin-top:10%;
      margin-bottom: 10%;
  }

  /*-------box2 - Feedbacks and ratings------------*/
  .box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height:100px;
    width:400px;
    margin-top:5%;
    margin-bottom: 5%;
}

 /*-------box3------------*/
 .box3{
  border: 1px solid gray;
  height:200px;
  width:400px;
  margin-top:10%;
  margin-left:-16%;
}

/*-------box4------------*/
.box4{
  border: 1px solid gray;
  height:100px;
  width:400px;
  margin-top:10%;
  margin-bottom: 10%;
}


  /*word spacing - experince*/
.spacing{
      word-spacing: 35px;
      margin-left: 2%;
      margin-right: 2%;
  }


  /*-------------Pay Button------------*/
  .button1, .button2, .button3{
    background-color: #082690;
    padding: 16px 20px;
    color:white;
    border: none;
    border-radius: 0;
    width: 15%;
    margin-left: 100%;
    margin-top: 0%;
    margin-bottom: 5%;
    text-decoration: none;
  }

  /*--adding hover color to button1----*/
  .button1:hover{
      background-color: #F63A10;
  }


  /*------Job Invite Button---------------*/
  .button2{
    display: inline-block;
    background-color: #2EAB2B;
    margin-left:-10%;
    margin-top:10%;
    width: 25%;
    margin-bottom: 15%;
  }

  /*-----Report Button----------*/
  .button3{
    display: inline-block;
    background-color: #F63A10;
    margin-left:10%;
    margin-top:10%;
    width: 25%;
    margin-bottom: 15%;
  }


  /*----Submit button---------*/
  .button4{
    position: relative;
    background-color: black;
    color: white;
    margin-left:5%;
    margin-top: 15%;
    width: 35%;
    height:65% ;
    padding:15px 25px;
    text-decoration: none;
    border: none;
  }

  .button4:hover{
    background-color: #FFD044;
    color: black;
    border: none;
  }


  /*----horizontal line--------*/
  hr{
    width :140%;
    border: 0.5px solid  black;
    margin-left:-55%;
    margin-top:5%;
    margin-bottom: 5%;
  }

/*---deatils---*/
.details{
    margin-top:10%;
    margin-left: 15%;

}


  /*---icons---*/
  .icon{
    width:50px;
    height:50px;
    margin-left: -85%;
  }


  /*--------Uploaded image----------*/
  .upload{
    height:100px;
  }


  /*--------Name, Email, Review-----------*/
  .field{
    margin-left:-120%;
    margin-top:15%;
  }

  /*------Feedback Input fields---------*/
  .input{
    border:none;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding:25px 25px;
      background:white;
      width:100%;
  }
