

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*heading - Payments*/
.full{
    margin-top: 8%;
    text-align: center;
    font-size:40px;
    color: darkblue;
}

/*topic*/
.topic{
    margin-top: 3%;
    margin-left: -45%;
    font-size:35px;
    font-size:30px;
    margin-bottom: 3%;
    color: black;
}


/*field and text*/
.field{
    margin-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left:5%;
    color: white;
}

/*input fields*/
.input{
    border: none;
    width: 25%;
    height: 5%;
	padding:5px 5px;
    background:white;
    display:block;
    margin-left: 20%;
    font-size: 18px;
    margin-top: -2%;
}

/*Select category*/
.select{
    position:relative;
    font-size: 18px; 
    width: 25%;
    height: 5%;
    padding:5px 5px;
    margin-left: -35%;
    margin-top:-2%;
    border: none;
    align-items: center;
    justify-content: center;
    
}

/*Pay*/
.button1, .button2
{
	    position: relative;
    	display: inline-block;
    	padding: 15px 45px;
    	width: 10%;
    	text-align: center;
        font-family: 'Poppins', sans-serif;
    	color: #fff !important;
    	text-decoration: none;
    	font-size: 17px;
    	overflow: hidden;
    	background-color: #2EAB2B;
        border: none;
        margin-left: 0%;
        margin-top: 6%;
}

/*cancel*/
.button2
{
    	background-color: #F63A10;
        margin-left: 5%;
        margin-bottom: 4%;
}

/*-----Verticle line-----------*/
.vl {
    border-left: 4px solid grey;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 35%;
  }

  /*---------------------------------------Worker details----------------------------------------*/

/*topic*/
.topic2{
    margin-top: -48%;
    margin-left: 40%;
    font-size:35px;
    font-size:30px;
    margin-bottom: 3%;
    color: black;
}


  /*input fields*/
.input2{
    border: none;
    width: 25%;
    height: 5%;
	padding:5px 5px;
    background:white;
    display:block;
    margin-left: 70%;
    font-size: 18px;
    margin-top: -2%;
}


/*field and text*/
.field2{
    font-size: 18px;
    text-align: left;
    margin-left:55%;
    color:white;
}
