body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.box1, .box2{
    float: left;
    width: 30%;
    height: 70%;
    margin-left: 3%;
    align-items: center;

}

.box1{
    height: 700px;
    margin-top: 60px;
}

/*---------------------Right-Outer-box-----------------------------------------*/
.box2{
    float:right;
    width: 55%;
    margin-right:18%;
    height: 700px;
    margin-top: -45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white; /* White text */
    padding: 20px; /* Some padding */
}


.cardStyle {
    width: 90%;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
    margin-left: 5%;
    color: black;
}

.floatRight{
    max-height: 100px;
    padding-left: -85px;
}

.formTitle{
    font-weight: 600;
    margin-top: 20px;
    color: #2F2D3B;
    text-align: center;
}

.inputLabel {
    font-size: 17px;
    margin-bottom: 6px;
    margin-top: 24px;
}

/*----red star-----*/
.red{
    color:red;
}

.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
 .inputDiv input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 2px black;
    padding: 0 11px;
    border-radius: 0;
}

input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
}

.buttonWrapper {
    margin-top: 40px;
}

/*-----------submit button----------------*/
.submitButton {
    width: 25%;
    height: 50px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: rgba(46, 171, 43, 1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    font-size: 17px;
    cursor: pointer;
    border:none;
}

.submitButton:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}

/*-------Title change password word-----------*/
.changepwd{
    margin-top: 8%;
    font-size: 40px;
    margin-left:40%;
}


@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

