body{
    font-family: 'Poppins', sans-serif;
  background-image: url('../images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.flex-container {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: black; /* White text */
  margin-left: 22%;
  width: 72%;
  display: flex;
  height: 1160px;
  flex-direction: row;
  background-color: white;
  margin-top: -2%;
  border: 1px solid black;
}

/*Heading*/
.flex-container> .heading{
	text-align: center;
	margin-top: 0px;
	font-family: 'Poppins', sans-serif;
	margin-left: 45%;
}

/*show profile pic*/
.flex-container > .mainbox {
  margin-top: 15%;
  margin-left: -55px;
  background-color: #F2F3F4;
  width: 100px;
  height: 100px;
  line-height: 5px;
  border-style: outset;
  padding: 80px;
  border-radius: 50px;
}

.mainbox input{
	align: center;
}

/*container without heading*/
.flex-container> .main-container{
   margin-top: 6%;
  margin-left: -500px;
  background-color: white;
  width: 95%;
  height: 1050px;
  line-height: 5px;
  padding: 60px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*form*/
.main-container> .mainbox-side{
   margin-top: -12%;
  margin-left: 185px;
  background-color: #ffffff;
  width: 649px;
  height: 1020px;
  line-height: 5px;
  border-style: hidden;
  padding: 40px;
  border-radius: 75px;
  font-family: 'Poppins', sans-serif;
}

.mainbox-side input[type=text], .mainbox-side input[type=email]{
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 10px;
  margin: 8px 0;
  display: block;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainbox-side input[type=file]{
  width: 100%;
  height: 100px;
  padding: 12px 35px;
  padding-bottom: 10px;
  margin: 8px 0;
  display: block;
  border: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

/*next button*/
.btn1{
    margin-left: 460px;
    margin-top: 15px;
    background-color: rgba(46, 171, 43, 1);
    color: white;
   cursor: pointer;
    border: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

.mainbox-side button:hover {
  background-color: #EACB09;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
