
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../Images/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*------------------------heading1 - Profile-------------------------------*/
.heading1{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 100px;
}


 
/*Profile image in Profile page*/
.floatRight{
  max-height: 120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 50%;
  width: 110px;
  height: 80px;
}


/*------------------------------------------form-----------------------------------------------*
/*Space between two input fields*/
.info .group{
	margin-bottom:2%;
    margin-left: 45%;
}

/*input data*/
.info .group .input{
	
	color:black; /*change color of input data*/
	display:block;
}

/*input field box*/
.info .group .input{
	border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding:15px 15px;
    background:white;
    width:80%;
}

/*-----------------names--------------------------------*/
.field{
    float:left;
    margin-left: -35%;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.button4, .button5{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
}
/*----------Update button--------------*/
.button4{
    float:left;
    margin-top:0%;
    margin-left:56%;
    padding: 15px 45px;
    background-color: #2EAB2B;
}

.button4:hover,.button5:hover {
    background-color: blue;
  }

/*------------Delete Account button-------------------*/
.button5{
    float:left;
    margin-top:-3.3%;
    margin-left:68%;
    padding: 15px 35px;
    background-color: #F63A10;
}
/*--------------------------camera icon----------------------*/
.cam{
    float: left;
    margin-top:-4%;
    margin-left: 55%;
    width: 60px;
    height: 60px;
}


/*------------------------edit icon--------------------------*/
.edit{
    float: right;
    margin-top:-4%;
    margin-right: 10%;
    width: 20px;
    height: 20px;
}